<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Footer -->
<footer class="">
    <!-- Upper footer -->
    <div class="mustard-bg upper-footer fold white-fold--top fold--small fold--top fold--footer">
        <div class="container">
            <div class="row p-0">
                <h2 class="footer-heading mid-blue-grey-text">Contact us now:</h2>
            </div>
        </div>
    </div>
    <!-- Mid footer -->
    <div class="mustard-bg middle-footer">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-large-text align-middle" src="/images/icons/icon-ringing.png"/>
                    <a href="" class="footer-phone dark-blue-grey-text dark-blue-grey-text-hover">01635 37844</a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle" src="/images/icons/icon-mail.png"/>
                    <a href="" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        info@px-partnership.co.uk
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle"
                         src="/images/icons/icon-brochure-reg.png"/>
                    <a href="" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        Register for a brochure
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower footer -->
    <div class="dark-blue-grey-bg middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Contact Us
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="tel:+44163537844">+44 1635 37844</a></li>
                        <li><a class="white-text white-text-hover" href="mailto:info@px-partnership.co.uk">info@px-partnership.co.uk</a></li>
                        <li><a class="white-text white-text-hover" href="login.html">PGS Client Login</a></li>
                        <li><a class="white-text white-text-hover" href="faqs.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Information
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="/Templates/about-px-partnership.html">About the PX Partnership</a></li>
                        <li><a class="white-text white-text-hover" href="/Templates/how-it-works.html">How it works</a></li>
                        <li><a class="white-text white-text-hover" href="/Templates/privacy-policy.html">Privacy Policy</a></li>
                        <li><a class="white-text white-text-hover" href="/Templates/terms-and-conditions.html">Terms & Conditions</a></li>
                        <li><a class="white-text white-text-hover" href="/Templates/opes.html">Press Enquiries</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <img id="footer-logo" class="" src="/images/logos/px-logo-white.png"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="container-fluid footer-copyright-container">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="text-sm-left py-3"><a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"> Website design</a> by
                        <a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"> Boomerang Creative</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="text-sm-right py-3"><a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"></a>
                        &copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, PX Partnership.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>