<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>
    <style>

        .navbar-nav {
            margin-left: auto;
        }
    </style>

</head>
<body>

<!-- navbar -->
<nav class="navbar upper-navbar mp-0">
    <div class="container flex-row-reverse mp-0">
        <div class="row float-right mp-0">
            <ul>
                <li>
                    <a href="tel:0163537844">
                        <img class="nav-small-icon call-icon" src="/images/icons/icon-phone.png" width="16" />
                        <span class="nav-upper-text">Call</span>
                    </a>

                </li>
                <li>
                    <a href="/Templates/login.html">
                        <img class="nav-small-icon login-icon" src="/images/icons/icon-lock.png" width="16" />
                        <span class="nav-upper-text">Client Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container logo-container">
        <!-- Brand -->
        <a class="navbar-brand" href="homepage.html">
            <span></span>

            <div class="img-hover-shine">
                <div>
                    <figure>
                        <img id="logo" alt="Logo" src="/images/logos/px-logo-grey.png" width="350" height="">
                    </figure>
                </div>
            </div>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link nav-link-icon" href="/Templates/homepage.html"><img
                        src="/images/icons/icon-house.png"
                        width="33"/></a></li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/about-px-partnership.html">About</a>
                </li>
                <li class="nav-item special-ul-hover toggle-item">
                    <div class="show">
                        <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Part Exchange
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Key Benefits</a>
                            <a class="dropdown-item" href="#">Chain Breaking</a>
                            <a class="dropdown-item" href="#">How Part Exchange Works</a>
                            <a class="dropdown-item" href="#">Sales Promotion & Marketing</a>
                            <a class="dropdown-item" href="#">Volume House Builders</a>
                            <a class="dropdown-item" href="#">Retirement House Builders</a>
                            <a class="dropdown-item" href="#">New Homes Agents</a>
                            <a class="dropdown-item" href="#">The PX Online Part Exchange System</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/contact.html">Contact</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/blog-news.html">Blog/News</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/faqs.html">FAQs</a></li>
                </hr>
            </ul>
        </div>
    </div>
</nav>
<!-- / navbar -->

</body>
</html>