<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>
    <style>
        .navbar-nav {
            margin-left: auto;
        }
    </style>

</head>
<body>

<!-- navbar -->
<nav class="navbar upper-navbar mp-0">
    <div class="container flex-row-reverse mp-0">
        <div class="row float-right mp-0">
            <ul>
                <li>
                    <a href="tel:0163537844">
                        <img alt="phone icon" class="nav-small-icon call-icon" src="/images/icons/icon-phone.png"
                             width="16"/>
                        <span class="nav-upper-text">Call</span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/login.html">
                        <img alt="lock icon" class="nav-small-icon login-icon" src="/images/icons/icon-lock.png"
                             width="16"/>
                        <span class="nav-upper-text">Client Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container logo-container">
        <!-- Brand -->
        <a class="navbar-brand" href="homepage.html">
            <span></span>

            <div class="img-hover-shine">
                <div>
                    <figure>
                        <img id="logo" alt="PXP logo" src="/images/logos/px-logo-grey.png" width="350" height="">
                    </figure>
                </div>
            </div>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link nav-link-icon" href="homepage.html"><img
                        alt="house icon" src="/images/icons/icon-house.png"
                        width="33"/></a></li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/about-px-partnership.html">About</a>
                </li>
                <li class="nav-item special-ul-hover toggle-item">
                    <div class="show">
                        <a class="nav-link double-click-open" href="part-exchange-lp.html" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Part Exchange
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="key-benefits.html">Key Benefits</a>
                            <a class="dropdown-item" href="chain-breaking.html">Chain Breaking</a>
                            <a class="dropdown-item" href="how-part-exchange-works.html">How Part Exchange Works</a>
                            <a class="dropdown-item" href="sales-promotion-and-marketing.html">Sales Promotion &
                                Marketing</a>
                            <a class="dropdown-item" href="volume-house-builders.html">Volume House Builders</a>
                            <a class="dropdown-item" href="retirement-house-builders.html">Retirement House Builders</a>
                            <a class="dropdown-item" href="new-homes-agents.html">New Homes Agents</a>
                            <a class="dropdown-item" href="the-px-part-exchange-online-system.html">The PX Online Part
                                Exchange System</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/contact.html">Contact</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/blog-news.html">Blog/News</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/faqs.html">FAQs</a></li>
                </hr>
            </ul>
        </div>
    </div>
</nav>
<!-- / navbar -->


<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="homepage.html">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <span class="active">About PX Partnership</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">About the PX Partnership</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Formed in 1984, The PX Partnership began life is ARC Relocation
                        helping thousands of employees of corporate companies and goverment departments move home.</p>
                    <a href="about-px-partnership.html" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn
                        More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/grey-mask.png'), url('/images/banners/half/Financial-advisor-shaking-hands-with-senior-man-in-living-room.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Article -->
<section class="article container">
    <div class="row">
        <div class="col-sm-6 order-2 order-sm-1">
            <div class="article-text article-dark-grey-text">
                <p>
                    ARC Relocation went on to become the largest independent Relocation Company in the UK with offices
                    in
                    London, Newbury, Manchester and Edinburgh. We were able to offer a unique level of service that
                    attracted clients such as BP, Cadbury, Tesco, Standard Life, Pfizer and Barclays.
                </p>

                <p>
                    Due to our success and experience gained in the UK property market ARC Property Group was formed and
                    further companies were added to the group. In 1997 we pioneered an innovative Part Exchange and
                    Chain
                    Breaking Scheme for the Retirement Homes Industry. This scheme enabled builders and developers of
                    retirement properties to sell new homes using Part Exchange, yet without exposing them to any
                    financial
                    risk. As the business evolved we introduced similar schemes for the mainstream New Homes industry.
                    Part
                    Exchange is now our core business and so to reflect this, ARC Property Group rebranded to become The
                    PX
                    Partnership in January 2013.
                </p>

                <p>
                    Part of the BDZ Holdings group of companies, The PX Partnership has grown to become one of the
                    leading
                    Part Exchange providers and Property Purchase experts in the UK.
                </p>

                <p class="text-center">
                    <a href="about-px-partnership.html" class="px-orange-btn large-px-btn px-btn d-sm-none">Learn
                        More</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center order-1 order-sm-2">
            <img alt="PX brochure" src="/images/pictures/px-mockup-2.jpg" class="article-image">
            <a href="about-px-partnership.html" class="px-orange-btn large-px-btn px-btn d-none d-sm-inline">Learn
                More</a>
        </div>
    </div>
</section>
<!-- / Article -->

<!-- Horizontal box dark-blue-grey -->
<section class="horizontal-box container dark-blue-grey-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img alt="Happy middle aged married couple relaxing together at home with the wife lying back against her husband" class="horiz-box-image"
                 src="/images/box-images/Happy-middle-aged-married-couple-relaxing together-at-home-with-the-wife-lying-back-against-her-husband.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                7 Steps to Exchange
            </h2>

            <div class="horiz-card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                id hendrerit Maecenas lectus neque, porttitor id hendrerit
            </div>
            <a class="white-btn small-px-btn px-btn" href="how-part-exchange-works.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

<!-- Horizontal box green -->
<section class="horizontal-box container px-yellow-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img alt="PXP borchure mockuo" class="horiz-box-image" src="/images/box-images/px-iso-mockup-1.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                SALES PROMOTION & MARKETING MATERIAL
            </h2>

            <div class="horiz-card-text">
                We can supply a full range of promotional and marketing materials to help attract more visitors to your
                site.
            </div>
            <a class="white-btn small-px-btn px-btn" href="sales-promotion-and-marketing.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->


<!-- Builders Cards -->
<section class="builders-cards builders-cards--small">
    <div class="builders-cards-header dark-blue-grey-bg text-center">
        <div class="container ">
            <div class="row builders-cards-header-row">
                <h2 class="white-text card-heading">
                    Part Exchange Tailored to your businees needs
                </h2>
            </div>
        </div>
    </div>
    <div class="builders-cards-body light-blue-grey-bg">
        <div class="container">
            <div class="card-group">
                <a href="volume-house-builders.html" class="card">
                    <div class="card-body card-body-head px-yellow-bg">
                        <h5 class="card-title mid-blue-grey-text">Volume House Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored1-volume-house-builders.jpg"
                         alt="Volume house builders">

                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <img alt="button" class="card-btn" src="/images/buttons/button-mustard.png">
                        </p>
                    </div>
                </a>
                <a href="small-medium-house-builders.html" class="card">
                    <div class="card-body card-body-head px-orange-bg">
                        <h5 class="card-title mid-blue-grey-text">Small/Medium Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored2-small-medium-builders.jpg"
                         alt="small builders">

                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <img alt="" class="card-btn" src="/images/buttons/button-orange.png">
                        </p>
                    </div>
                </a>
                <a href="retirement-house-builders.html" class="card">
                    <div class="card-body card-body-head px-green-bg">
                        <h5 class="card-title mid-blue-grey-text">Retirement House Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored3-retirement-house-builders.jpg"
                         alt="retirement house builders">

                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <img alt="" class="card-btn" src="/images/buttons/button-green.png">
                        </p>
                    </div>
                </a>
                <a href="new-homes-agents.html" class="card">
                    <div class="card-body card-body-head px-blue-bg">
                        <h5 class="card-title mid-blue-grey-text">New Homes Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored4-new-homes-builder.jpg"
                         alt="new home builders">

                    <div class="card-body">
                        <p class="card-text">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <img alt="" class="card-btn" src="/images/buttons/button-blue.png">
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- / Builders Cards -->

<!-- footer -->
<footer class="">
    <!-- Upper footer -->
    <div class="mustard-bg upper-footer fold white-fold--top fold--small fold--top fold--footer">
        <div class="container">
            <div class="row p-0">
                <h2 class="footer-heading mid-blue-grey-text">Contact us now:</h2>
            </div>
        </div>
    </div>
    <!-- Mid footer -->
    <div class="mustard-bg middle-footer">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-4">
                    <img alt="" class="footer-icon icon-for-large-text align-middle" src="/images/icons/icon-ringing.png"/>
                    <a href="tel:01635 37844" class="footer-phone dark-blue-grey-text dark-blue-grey-text-hover">01635
                        37844</a>
                </div>
                <div class="col-12 col-md-4">
                    <img alt="" class="footer-icon icon-for-small-text align-middle" src="/images/icons/icon-mail.png"/>
                    <a href="mailto:info@px-partnership.co.uk"
                       class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        info@px-partnership.co.uk
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <img alt="" class="footer-icon icon-for-small-text align-middle"
                         src="/images/icons/icon-brochure-reg.png"/>
                    <a href="brochure.html" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        Register for a brochure
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower footer -->
    <div class="dark-blue-grey-bg middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Contact Us
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="tel:+44163537844">+44 1635 37844</a></li>
                        <li><a class="white-text white-text-hover" href="mailto:info@px-partnership.co.uk">info@px-partnership.co.uk</a>
                        </li>
                        <li><a class="white-text white-text-hover" href="login.html">PGS Client Login</a></li>
                        <li><a class="white-text white-text-hover" href="faqs.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Information
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="about-px-partnership.html">About the PX
                            Partnership</a></li>
                        <li><a class="white-text white-text-hover" href="how-part-exchange-works.html">How it works</a>
                        </li>
                        <li><a class="white-text white-text-hover" href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a class="white-text white-text-hover" href="terms-and-conditions.html">Terms &
                            Conditions</a></li>
                        <li><a class="white-text white-text-hover" href="press-enquires.html">Press Enquiries</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <img alt="PXP logo" id="footer-logo" class="" src="/images/logos/px-logo-white.png"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="container-fluid footer-copyright-container">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="text-sm-left py-3"><a href="http://boomerangcreative.agency/" target="_blank"
                                                      class="light-blue-grey-text light-blue-grey-text-hover"> Website
                        design</a> by
                        <a href="http://boomerangcreative.agency/" target="_blank"
                           class="light-blue-grey-text light-blue-grey-text-hover"> Boomerang Creative</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="text-sm-right py-3"><a href="http://boomerangcreative.agency/" target="_blank"
                                                       class="light-blue-grey-text light-blue-grey-text-hover"></a>
                        &copy; 2018
                        <script>new Date().getFullYear() > 2018 && document.write("-" + new Date().getFullYear());</script>
                        , PX Partnership.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- footer -->

</body>
</html>