<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Key Benefits</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>
    <style>

        .navbar-nav {
            margin-left: auto;
        }
    </style>

</head>
<body>

<!-- navbar -->
<nav class="navbar upper-navbar mp-0">
    <div class="container flex-row-reverse mp-0">
        <div class="row float-right mp-0">
            <ul>
                <li>
                    <a href="tel:0163537844">
                        <img class="nav-small-icon call-icon" src="/images/icons/icon-phone.png" width="16"/>
                        <span class="nav-upper-text">Call</span>
                    </a>

                </li>
                <li>
                    <a href="/Templates/login.html">
                        <img class="nav-small-icon login-icon" src="/images/icons/icon-lock.png" width="16"/>
                        <span class="nav-upper-text">Client Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container logo-container">
        <!-- Brand -->
        <a class="navbar-brand" href="homepage.html">
            <span></span>

            <div class="img-hover-shine">
                <div>
                    <figure>
                        <img id="logo" alt="Logo" src="/images/logos/px-logo-grey.png" width="350" height="">
                    </figure>
                </div>
            </div>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link nav-link-icon" href="homepage.html"><img
                        src="/images/icons/icon-house.png"
                        width="33"/></a></li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/about-px-partnership.html">About</a>
                </li>
                <li class="nav-item special-ul-hover toggle-item">
                    <div class="show">
                        <a class="nav-link" href="part-exchange-lp.html" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Part Exchange
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="key-benefits.html">Key Benefits</a>
                            <a class="dropdown-item" href="chain-breaking.html">Chain Breaking</a>
                            <a class="dropdown-item" href="how-part-exchange-works.html">How Part Exchange Works</a>
                            <a class="dropdown-item" href="sales-promotion-and-marketing.html">Sales Promotion &
                                Marketing</a>
                            <a class="dropdown-item" href="volume-house-builders.html">Volume House Builders</a>
                            <a class="dropdown-item" href="retirement-house-builders.html">Retirement House Builders</a>
                            <a class="dropdown-item" href="new-homes-agents.html">New Homes Agents</a>
                            <a class="dropdown-item" href="the-px-part-exchange-online-system.html">The PX Online Part
                                Exchange System</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/contact.html">Contact</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/blog-news.html">Blog/News</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/faqs.html">FAQs</a></li>
                </hr>
            </ul>
        </div>
    </div>
</nav>
<!-- / navbar -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="homepage.html">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <a href="part-exchange-lp.html">Part Exchange</a>
            <span>&nbsp;>&nbsp;</span>
            <span class="active">Key Benefits of PX</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">KEY BENEFITS OF
                        PART EXCHANGE</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="key-benefits.html" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn
                        More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/dark-grey-mask.png'), url('/images/banners/half/couple-carrying-sofa-into-new-home-on-moving-day.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Key Benefits Gallery -->
<section class="key-benefits-container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center article-dark-grey-text lead-paragraph">
                <p>There are many benefits of using The PX Partnerships Part Exchange Scheme, whether you currently
                    offer your own scheme or not.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row key-benefits-row">
            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">GUARANTEED SALES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No risk of a sale falling through helps you meet targets and accurately forecast sales.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">QUICK COMPLETIONS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No risk of a sale falling through helps you meet targets and accurately forecast sales.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO RISK</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>As we buy the Part Exchange Property, you avoid all risk and costs involved with buying, owning
                        and selling your buyers home.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO FEES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We do not charge any fees to take a property in Part Exchange, We make our money simply from the
                        difference between how much we pay for a property and what it sells for.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->


            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO FUNDING REQUIRED</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We purchase your buyers property directly meaning you don’t tie up your own funds in Part
                        Exchange stock.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO COST OR OBLIGATION</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>There is no cost to you or your buyer to receive a part exchange offer, and no obligation to
                        accept any offer we make.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO PRICE DIFERENTIAL</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We can buy in properties whether they have a higher, lower or similar value to the one you are
                        selling.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">FLEXIBLE CRITERIA</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We can consider most types of residential property throughout England and Wales including flats,
                        bungalows and ex-local authority properties.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">SPEED UP SALES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No need to wait for a dependant buyer to sell their property, we can make them an offer quickly
                        to give you a proceedable buyer straight away.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">FIXED OFFER PRICE</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>Once the survey has been carried out the price is fixed, therefore avoiding last minute
                        renegotiations.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">ATTRACT MORE BUYERS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>Advertising 'Part Exchange Available' will bring more buyers to your sites and enable you to
                        compete with other developers who offer their own scheme or give you the advantage over local
                        competitors who do not offer Part Exchange.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO CHAINS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>There is no cost to you or your buyer to receive a part exchange offer, and no obligation to
                        accept any offer we make.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->


            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <!-- Left image -->
                <img class="d-none d-xl-block left-image" src="/images/box-images/chart.jpg" alt="chart image"/>
                <!-- /Left image -->

                <!-- Right image -->
                <img class="d-none d-xl-block right-image" src="/images/box-images/money.jpg" alt="money"/>
                <!-- /Right image -->
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO ESTATE AGENTS FEES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>As we buy direct from your buyer there are usually no Estate Agents fees to pay, saving your
                        buyer money and adding value to the Part Exchange deal.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->
        </div>

    </div>
</section>
<!-- / Key Benefits Gallery -->


<!-- Horizontal box dark-blue-grey -->
<section class="horizontal-box container dark-blue-grey-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img class="horiz-box-image"
                 src="/images/box-images/Grandfather-Newspaper-Coffee-Retirement-Man-Concept.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                7 Steps to Exchange
            </h2>

            <div class="horiz-card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                id hendrerit Maecenas lectus neque, porttitor id hendrerit
            </div>
            <a class="white-btn small-px-btn px-btn" href="how-part-exchange-works.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

<!-- Horizontal box green -->
<section class="horizontal-box container px-yellow-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img class="horiz-box-image" src="/images/box-images/px-iso-mockup-1.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                SALES PROMOTION & MARKETING MATERIAL
            </h2>

            <div class="horiz-card-text">
                We can supply a full range of promotional and marketing materials to help attract more visitors to your site.
            </div>
            <a class="white-btn small-px-btn px-btn" href="sales-promotion-and-marketing.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

<!-- Footer -->
<footer class="">
    <!-- Upper footer -->
    <div class="mustard-bg upper-footer fold white-fold--top fold--small fold--top fold--footer">
        <div class="container">
            <div class="row p-0">
                <h2 class="footer-heading mid-blue-grey-text">Contact us now:</h2>
            </div>
        </div>
    </div>
    <!-- Mid footer -->
    <div class="mustard-bg middle-footer">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-large-text align-middle" src="/images/icons/icon-ringing.png"/>
                    <a href="tel:0163537844" class="footer-phone dark-blue-grey-text dark-blue-grey-text-hover">01635
                        37844</a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle" src="/images/icons/icon-mail.png"/>
                    <a href="mailto:info@px-partnership.co.uk"
                       class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        info@px-partnership.co.uk
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle"
                         src="/images/icons/icon-brochure-reg.png"/>
                    <a href="brochure.html" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        Register for a brochure
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower footer -->
    <div class="dark-blue-grey-bg middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Contact Us
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="tel:+44163537844">+44 1635 37844</a></li>
                        <li><a class="white-text white-text-hover" href="mailto:info@px-partnership.co.uk">info@px-partnership.co.uk</a>
                        </li>
                        <li><a class="white-text white-text-hover" href="login.html">PGS Client Login</a>
                        </li>
                        <li><a class="white-text white-text-hover" href="faqs.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Information
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="about-px-partnership.html">About the
                            PX Partnership</a></li>
                        <li><a class="white-text white-text-hover" href="how-part-exchange-works.html">How it works</a>
                        </li>
                        <li><a class="white-text white-text-hover" href="privacy-policy.html">Privacy
                            Policy</a></li>
                        <li><a class="white-text white-text-hover" href="terms-and-conditions.html">Terms &
                            Conditions</a></li>
                        <li><a class="white-text white-text-hover" href="press-enquires.html">Press Enquiries</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <img id="footer-logo" class="" src="/images/logos/px-logo-white.png"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="container-fluid footer-copyright-container">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="text-sm-left py-3"><a href="http://boomerangcreative.agency/" target="_blank"
                                                      class="light-blue-grey-text light-blue-grey-text-hover"> Website
                        design</a> by
                        <a href="http://boomerangcreative.agency/" target="_blank"
                           class="light-blue-grey-text light-blue-grey-text-hover"> Boomerang Creative</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="text-sm-right py-3"><a href="http://boomerangcreative.agency/" target="_blank"
                                                       class="light-blue-grey-text light-blue-grey-text-hover"></a>
                        &copy; 2018
                        <script>new Date().getFullYear() > 2018 && document.write("-" + new Date().getFullYear());</script>
                        , PX Partnership.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>