<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Terms and Conditions</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>
    <style>

        .navbar-nav {
            margin-left: auto;
        }
    </style>

</head>
<body>

<!-- navbar -->
<nav class="navbar upper-navbar mp-0">
    <div class="container flex-row-reverse mp-0">
        <div class="row float-right mp-0">
            <ul>
                <li>
                    <a href="tel:0163537844">
                        <img class="nav-small-icon call-icon" src="/images/icons/icon-phone.png" width="16" />
                        <span class="nav-upper-text">Call</span>
                    </a>

                </li>
                <li>
                    <a href="/Templates/login.html">
                        <img class="nav-small-icon login-icon" src="/images/icons/icon-lock.png" width="16" />
                        <span class="nav-upper-text">Client Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container logo-container">
        <!-- Brand -->
        <a class="navbar-brand" href="homepage.html">
            <span></span>

            <div class="img-hover-shine">
                <div>
                    <figure>
                        <img id="logo" alt="Logo" src="/images/logos/px-logo-grey.png" width="350" height="">
                    </figure>
                </div>
            </div>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link nav-link-icon" href="homepage.html"><img
                        src="/images/icons/icon-house.png"
                        width="33"/></a></li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/about-px-partnership.html">About</a>
                </li>
                <li class="nav-item special-ul-hover toggle-item">
                    <div class="show">
                        <a class="nav-link double-click-open" href="part-exchange-lp.html" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Part Exchange
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="key-benefits.html">Key Benefits</a>
                            <a class="dropdown-item" href="chain-breaking.html">Chain Breaking</a>
                            <a class="dropdown-item" href="how-part-exchange-works.html">How Part Exchange Works</a>
                            <a class="dropdown-item" href="sales-promotion-and-marketing.html">Sales Promotion & Marketing</a>
                            <a class="dropdown-item" href="volume-house-builders.html">Volume House Builders</a>
                            <a class="dropdown-item" href="retirement-house-builders.html">Retirement House Builders</a>
                            <a class="dropdown-item" href="new-homes-agents.html">New Homes Agents</a>
                            <a class="dropdown-item" href="the-px-part-exchange-online-system.html">The PX Online Part Exchange System</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/contact.html">Contact</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/blog-news.html">Blog/News</a>
                </li>
                <li class="nav-item special-ul-hover"><a class="nav-link" href="/Templates/faqs.html">FAQs</a></li>
                </hr>
            </ul>
        </div>
    </div>
</nav>
<!-- / navbar -->

<!-- Press enquires -->
<div class="container py-4 general-container">
    <div class="row pb-3">
        <div class="col-12">
            <h1 class="grey-text">Terms and Conditions</h1>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<!-- /Press enquires -->

<!-- Footer -->
<footer class="">
    <!-- Upper footer -->
    <div class="mustard-bg upper-footer fold white-fold--top fold--small fold--top fold--footer">
        <div class="container">
            <div class="row p-0">
                <h2 class="footer-heading mid-blue-grey-text">Contact us now:</h2>
            </div>
        </div>
    </div>
    <!-- Mid footer -->
    <div class="mustard-bg middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-large-text align-middle" src="/images/icons/icon-ringing.png"/>
                    <a href="tel:0163537844" class="footer-phone dark-blue-grey-text dark-blue-grey-text-hover">01635 37844</a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle" src="/images/icons/icon-mail.png"/>
                    <a href="mailto:info@px-partnership.co.uk" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        info@px-partnership.co.uk
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <img class="footer-icon icon-for-small-text align-middle"
                         src="/images/icons/icon-brochure-reg.png"/>
                    <a href="brochure.html" class="footer-contact-text dark-blue-grey-text dark-blue-grey-text-hover">
                        Register for a brochure
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower footer -->
    <div class="dark-blue-grey-bg middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Contact Us
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="tel:+44163537844">+44 1635 37844</a></li>
                        <li><a class="white-text white-text-hover" href="mailto:info@px-partnership.co.uk">info@px-partnership.co.uk</a></li>
                        <li><a class="white-text white-text-hover" href="login.html">PGS Client Login</a></li>
                        <li><a class="white-text white-text-hover" href="faqs.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 white-text">
                    <h2 class="footer-nav-heading">
                        Information
                    </h2>
                    <ul class="footer-nav-text">
                        <li><a class="white-text white-text-hover" href="about-px-partnership.html">About the PX Partnership</a></li>
                        <li><a class="white-text white-text-hover" href="how-part-exchange-works.html">How it works</a></li>
                        <li><a class="white-text white-text-hover" href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a class="white-text white-text-hover" href="terms-and-conditions.html">Terms & Conditions</a></li>
                        <li><a class="white-text white-text-hover" href="press-enquires.html">Press Enquiries</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <img id="footer-logo" class="" src="/images/logos/px-logo-white.png"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="container-fluid footer-copyright-container">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="text-sm-left py-3"><a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"> Website design</a> by
                        <a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"> Boomerang Creative</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="text-sm-right py-3"><a href="http://boomerangcreative.agency/" target="_blank" class="light-blue-grey-text light-blue-grey-text-hover"></a>
                        &copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, PX Partnership.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>