<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- Article Images -->
<section class="article article-images container">
    <div class="row">
        <div class="col-12 col-lg-6 order-2 order-sm-1">
            <div class="article-text text-center">
                <h2 class=" article-images-title article-dark-grey-text">GAIN THE ADVANTAGE</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lorem nibh, tristique ac egestas et, mattis cursus est. Fusce maximus laoreet quam et sodales. Curabitur volutpat turpis id turpis scelerisque, iaculis tempus sapien luctus. Curabitur a mi sed eros fringilla.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lorem nibh, tristique ac egestas et, mattis cursus est. Fusce maximus laoreet quam et sodales. Curabitur volutpat turpis id turpis scelerisque, iaculis tempus sapien luctus. Curabitur a mi sed eros fringilla.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 text-center order-1 order-sm-2 d-none d-lg-block">
            <img src="/images/pictures/px-iso-mockup-2.jpg" class="article-image solo-image">
        </div>
    </div>
     <div class="row">
          <div class="col-sm-6 text-center order-1 order-sm-2">
            <img src="/images/pictures/px-mockup-2.jpg" class="article-image half-height-image half-height-image--first">
             <img src="/images/pictures/px-mockup-1.jpg" class="article-image half-height-image">
        </div>
         <div class="col-sm-6 text-center order-1 order-sm-2">
            <img src="/images/pictures/px-flag-mockup.jpg" class="full-height-image article-image">
        </div>
     </div>
     <div class="row find-out-row text-center">
        <div class="col-12 offset-sm-2 col-sm-8">
              <h2 class="px-yellow-text find-out">Find out how we can help you sell more homes today.</h2>
            <div class="px-yellow-hr"></div>
        </div>
     </div>
</section>
<!-- / Article Images -->

</body>
</html>