<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Article -->
<section class="article container">
    <div class="row">
        <div class="col-sm-6 order-2 order-sm-1">
            <div class="article-text">
                <p>
                    ARC Relocation went on to become the largest independent Relocation Company in the UK with offices in
                    London, Newbury, Manchester and Edinburgh. We were able to offer a unique level of service that
                    attracted clients such as BP, Cadbury, Tesco, Standard Life, Pfizer and Barclays.
                </p>
                <p>
                    Due to our success and experience gained in the UK property market ARC Property Group was formed and
                    further companies were added to the group. In 1997 we pioneered an innovative Part Exchange and Chain
                    Breaking Scheme for the Retirement Homes Industry. This scheme enabled builders and developers of
                    retirement properties to sell new homes using Part Exchange, yet without exposing them to any financial
                    risk. As the business evolved we introduced similar schemes for the mainstream New Homes industry. Part
                    Exchange is now our core business and so to reflect this, ARC Property Group rebranded to become The PX
                    Partnership in January 2013.
                </p>
                <p>
                    Part of the BDZ Holdings group of companies, The PX Partnership has grown to become one of the leading
                    Part Exchange providers and Property Purchase experts in the UK.
                </p>
                <p class="text-center">
                    <a href="" class="px-orange-btn large-px-btn px-btn d-sm-none">Learn More</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center order-1 order-sm-2">
                <img src="/images/pictures/px-mockup-2.jpg" class="article-image">
                <a href="" class="px-orange-btn large-px-btn px-btn d-none d-sm-inline">Learn More</a>
        </div>
    </div>
</section>
<!-- / Article -->

</body>
</html>