<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- New Homes Agents -->
<!-- Builders Article -->
<section class="builders-article article container">
    <div class="row">
        <div class="col-md-6">
            <div class="article-text article-dark-grey-text">

                <p>Enhance your services and gain an advantage on your competitors by offering part exchange to your New Homes clients through The PX Partnership.</p> 

                <p>Part exchange guarantees sales, avoids chains and eliminates fall-throughs, making it easy for your clients to reach their financial targets.</p>  

                <p>Our flexible criteria means that there is no price differential requires, so part exchange can work for buyers trading up, downsizing, and moving sideways.</p> 
                
                <p>With no cost or tie-ins, you can start offering part exchange immediately. We can supply a full range of promotional and marketing materials to help attract more visitors to your site.</p> 
                </p>

                <ul class="px-blue-text builders-list">
                    <li>Gain a USP over your competitors</li>
                    <li>Guarantee sales</li>
                    <li>Avoid chains</li>
                    <li>Attract more visitors</li>
                </ul>
                <div class="text-center">
                    <h2 class="px-blue-text find-out">Find out how we can help you sell more homes today.</h2>
                    <div class="px-blue-hr"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center d-none d-md-block">
            <div class="overflow-img-container">
                <img class="left-image" src="/images/pictures/couple-visiting-home-with-real-estate-agent.jpg" class="article-image">
                <img class="right-image" src="/images/pictures/male-real-estate-agent-looking-up-at-a-house-exterior.jpg" class="article-image">
            </div>
                <img class="bottom-image" src="/images/pictures/exterior-of-house-with-sold-sign-in-garden.jpg" class="article-image">
            </div>
        </div>
    </div>
</section>
<!-- / Builders Article -->

<!-- Retirement House Builders -->
<!-- Builders Article -->
<section class="builders-article article container">
    <div class="row">
        <div class="col-md-6">
            <div class="article-text article-dark-grey-text">
                <p>Our part exchange service makes moving into a retirement home a fast, stress free and seamless process.</p>

                <p>Our property consultants cover all of England and Wales to carry out home visits and thoroughly explain each detail of the part exchange process to your buyers. Our flexible criteria allow retirement housebuilders to offer part exchange to buyers who are downsizing, which isn’t usually possible with in-house part exchange schemes that often have much stricter criteria.</p>
                
                <p>The certainty of a guaranteed sale offers peace of mind to both the buyer and the retirement housebuilder.</p>

                <ul class="px-green-text builders-list">
                    <li>No pricing differential required</li>
                    <li>Fast, stress-free sales for your buyers</li>
                    <li>Risk free and funding free</li>
                    <li>Avoid chains and eliminate fall-throughs</li>
                </ul>
                <div class="text-center">
                    <h2 class="px-green-text find-out">Find out how we can help you sell more homes today.</h2>
                    <div class="px-green-hr"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center d-none d-md-block">
            <div class="overflow-img-container">
                <img class="left-image" src="/images/pictures/happy-middle-aged-married-couple-relaxing-together-at-home-with-the-wife-lying-back-against-her-husband-as-she-reads-a-book-while-he-surfs-the-internet-on-a-tablet.jpg" class="article-image">
                <img class="right-image" src="/images/pictures/senior-couple-in-living-room-standing-at-the-window-hugging.jpg" class="article-image">
            </div>
            <img class="bottom-image" src="/images/pictures/modern-waterfront-homes.jpg" class="article-image">
        </div>
    </div>
</section>
<!-- / Builders Article -->

<!-- Small/Medium Builders -->
<!-- Builders Article -->
<section class="builders-article article container">
    <div class="row">
        <div class="col-md-6">
            <div class="article-text article-dark-grey-text">
                <p>With no risk and no funding required, offering part exchange through the PX Partnership is an easy way for small to medium builders to compete with volume housebuilders who already offer part exchange in-house.</p>
                
                <p>Part exchange guarantees your sales and eliminates fall-throughs, helping you to convert plot reservations to SSTC in days. This can improve your cashflow and release cash for construction or land purchases.</p>
                
                <p>Our property consultants cover the whole of England and Wales and always thoroughly explain the part exchange process to your buyers when visiting their properties. We also offer free removals included with every PX offer, and will provide you with promotional materials to help attract more visitors to your site.</p>

                <ul class="px-orange-text builders-list">
                    <li>Quickly convert plot reservations to SSTC</li>
                    <li>Free removals</li>
                    <li>Completion on time, every time</li>
                    <li>Risk free and funding free</li>
                    <li>Increase your cashflow</li>
                </ul>
                <div class="text-center">
                    <h2 class="px-orange-text find-out">Find out how we can help you sell more homes today.</h2>
                    <div class="px-orange-hr"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center d-none d-md-block">
            <div class="overflow-img-container">
                <img class="left-image" src="/images/pictures/top-view-of-adorable-dog-and-owners-in-background.jpg" class="article-image">
                <img class="right-image" src="/images/pictures/One-young-woman-standing-in-kitchen-in-clean.jpg" class="article-image">
            </div>
            <img class="bottom-image" src="/images/pictures/new-english-estate.jpg" class="article-image">
        </div>
    </div>
</section>
<!-- / Builders Article -->


<!-- Volume House Builders -->
<!-- Builders Article -->
<section class="builders-article article container">
    <div class="row">
        <div class="col-md-6">
            <div class="article-text article-dark-grey-text">

                <p>Offering part exchange through The PX Partnership is an easy way for volume housebuilders to ensure their half-year and year-end sales targets are met. Our flexible scheme provides you with additional buying power when your own funding for part exchange is fully engaged.</p>
                
                <p>Our flexible criteria means that no price differential is required, allowing you to offer part exchange on buyer’s properties with an equal or higher value than the new home that they are purchasing. Our property consultants cover all of England and Wales, allowing you to offer a part exchange services to buyers with properties outside of your usual operating area.</p>
                
                <p>With absolutely no funding required and guaranteed fast completions every time, part exchange through The PX Partnership completely de-risks the process for both buyers and volume housebuilders.</p>

                <ul class="px-yellow-text builders-list">
                   <li>A safe pair of hands</li>
                   <li>Flexible criteria</li>
                   <li>Additional buying power</li>
                   <li>Fast completions</li>
                   <li>No funding required</li>
                </ul>
                <div class="text-center">
                    <h2 class="px-yellow-text find-out">Find out how we can help you sell more homes today.</h2>
                    <div class="px-yellow-hr"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center d-none d-md-block">
            <div class="overflow-img-container">
                <img class="left-image" src="/images/pictures/close-up-business-man-signing-contract-making-a-deal-classic-business.jpg" class="article-image">
                <img class="right-image" src="/images/pictures/houses.png" class="article-image">
            </div>
            <img class="bottom-image" src="/images/pictures/young-caucasian-woman-with-braid-sitting-at-home-on-the-couch-by-the-window.jpg" class="article-image">
        </div>
    </div>
</section>
<!-- / Builders Article -->

</body>
</html>