<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Builders Cards Large -->
<section class="builders-cards builders-cards--large">
    <div class="builders-cards-header text-center">
        <div class="container ">
            <div class="row builders-cards-header-row">
                <h2 class="lightest-grey-text section-heading">
                    RISK FREE AND FUNDING FREE PART EXCHANGE
                </h2>
            </div>
        </div>
    </div>
    <div class="builders-cards-body">
        <div class="container">
            <div class="row">
                <div class="card-group">
                    <div class="card fold white-fold--top fold--medium fold--builders-card">
                        <div class="card-body card-body-head ">
                            <h5 class="card-title mid-blue-grey-text horiz-card-heading">Volume House Builders</h5>
                        </div>
                        <img class="card-img-top " src="/images/box-images/risk1-volume-house-builders.jpg"
                             alt="volume house builders">
                        <div class="card-body px-yellow-border">
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                                id hendrerit eget, dignissim ac orci. Mauris quam tellus, gravida nec quam a, luctus
                                auctor orci.
                                Maecenas lectus neque, porttitor id hendrerit eget, dignissim ac
                                Maecenas lectus neque.</p>

                            <p class="">
                                <span class="dark-blue-grey-text horiz-card-text card-info">See more info</span>
                                <a href="/Templates/volume-house-builders.html" class="">
                                    <img class="card-btn" src="/images/buttons/button-mustard.png">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="card fold white-fold--top fold--medium fold--builders-card">
                        <div class="card-body card-body-head">
                            <h5 class="card-title mid-blue-grey-text horiz-card-heading">Small/Medium Builders</h5>
                        </div>
                        <img class="card-img-top" src="/images/box-images/risk2-small-medium-builders.jpg"
                             alt="small builders">

                        <div class="card-body px-orange-border">
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                                id hendrerit eget, dignissim ac orci. Mauris quam tellus, gravida nec quam a, luctus
                                auctor orci.
                                Maecenas lectus neque, porttitor id hendrerit eget, dignissim ac
                                Maecenas lectus neque.</p>

                            <p class="">
                                <span class="dark-blue-grey-text horiz-card-text card-info">See more info</span>
                                <a href="/Templates/small-medium-house-builders.html" class="">
                                    <img class="card-btn" src="/images/buttons/button-orange.png">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="builders-cards-body">
        <div class="container">
            <div class="row">
                <div class="card-group">
                    <div class="card  fold white-fold--top fold--medium fold--builders-card">
                        <div class="card-body card-body-head">
                            <h5 class="card-title mid-blue-grey-text horiz-card-heading">Retirement House Builders</h5>
                        </div>
                        <img class="card-img-top" src="/images/box-images/risk3-retirement-house-builders.jpg"
                             alt="retirement house builders">

                        <div class="card-body px-green-border">
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                                id hendrerit eget, dignissim ac orci. Mauris quam tellus, gravida nec quam a, luctus
                                auctor orci.
                                Maecenas lectus neque, porttitor id hendrerit eget, dignissim ac
                                Maecenas lectus neque.</p>
                              <p class="">
                                <span class="dark-blue-grey-text horiz-card-text card-info">See more info</span>
                                <a href="/Templates/retirement-house-builders.html" class="">
                                    <img class="card-btn" src="/images/buttons/button-green.png">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="card fold white-fold--top fold--medium fold--builders-card">
                        <div class="card-body card-body-head ">
                            <h5 class="card-title mid-blue-grey-text horiz-card-heading">New Homes Agents</h5>
                        </div>
                        <img class="card-img-top" src="/images/box-images/risk4-new-homes-builder.jpg"
                             alt="new home builders">

                        <div class="card-body px-blue-border">
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                                id hendrerit eget, dignissim ac orci. Mauris quam tellus, gravida nec quam a, luctus
                                auctor orci.
                                Maecenas lectus neque, porttitor id hendrerit eget, dignissim ac
                                Maecenas lectus neque.</p>

                            <p class="card-text">
                                <span class="dark-blue-grey-text horiz-card-text card-info">See more info</span>
                                <a href="/Templates/new-homes-agents.html" class="">
                                    <img class="card-btn" src="/images/buttons/button-blue.png">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Builders Cards Large -->

</body>
</html>