<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Builders Cards -->
<section class="builders-cards builders-cards--small">
    <div class="builders-cards-header dark-blue-grey-bg text-center">
        <div class="container ">
            <div class="row builders-cards-header-row">
                <h2 class="white-text card-heading">
                    Part Exchange Tailored to your businees needs
                </h2>
            </div>
        </div>
    </div>
    <div class="builders-cards-body light-blue-grey-bg">
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <div class="card-body card-body-head px-yellow-bg">
                        <h5 class="card-title mid-blue-grey-text">Volume House Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored1-volume-house-builders.jpg" alt="volume house builders">

                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <a href="#" class="">
                                <img class="card-btn" src="/images/buttons/button-mustard.png">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body card-body-head px-orange-bg">
                        <h5 class="card-title mid-blue-grey-text">Small/Medium Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored2-small-medium-builders.jpg" alt="small builders">
                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <a href="#" class="">
                                <img class="card-btn" src="/images/buttons/button-orange.png">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body card-body-head px-green-bg">
                        <h5 class="card-title mid-blue-grey-text">Retirement House Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored3-retirement-house-builders.jpg" alt="retirement house builders">

                    <div class="card-body">
                        <p class="">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>

                            <a href="#" class="">
                                <img class="card-btn" src="/images/buttons/button-green.png">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body card-body-head px-blue-bg">
                        <h5 class="card-title mid-blue-grey-text">New Homes Builders</h5>
                    </div>
                    <img class="card-img-top" src="/images/box-images/tailored4-new-homes-builder.jpg" alt="new home builders">

                    <div class="card-body">
                        <p class="card-text">
                            <span class="dark-blue-grey-text horiz-card-text">See more info</span>
                            <a href="#" class="">
                                <img class="card-btn" src="/images/buttons/button-blue.png">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Builders Cards -->

</body>
</html>