<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- Carousel banner with mask - WIP -->
<section class="half-banner-mask carousel-banner white-text">
    <div class="container-fluid slideshow-container">
        <!-- Banner Slide 1 -->
        <div class="row bannerSlides">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="article-images-title text-center article-dark-grey-text">About the Part Exchange
                        Partnership</h1>

                    <div class="px-orange-hr hr"></div>
                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="section-text text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Maecenas lectus neque, porttitor id hendrerit eget, dign
                        issim ac orci. Mauris quam tellus, gravida nec quam a, luctus auctor orci. Maecenas lectus
                        neque, porttitor id hendrerit
                        eget, dignissim ac Maecenas lectus neque.</p>
                    <a href="" class="px-orange-btn large-px-btn px-btn">See More Info</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/white-mask.png'), url('/images/banners/half/retirement-senior-couple-lifestyle-living-concept.jpg')">
            </div>
        </div>
        <!-- / Banner Slide 1 -->
        <!-- Banner Slide 2 -->
        <div class="row bannerSlides">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="article-images-title text-center article-dark-grey-text">PROPERTY PART EXCHANGE FOR
                        THE NEW HOMES INDUSTRY</h1>

                    <div class="px-yellow-hr hr"></div>
                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="section-text text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Maecenas lectus neque, porttitor id hendrerit eget, dign
                        issim ac orci. Mauris quam tellus, gravida nec quam a, luctus auctor orci. Maecenas lectus
                        neque, porttitor id hendrerit
                        eget, dignissim ac Maecenas lectus neque.</p>
                    <a href="" class="px-yellow-btn large-px-btn px-btn">See More Info</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/white-mask.png'), url('/images/banners/half/row-of-detached-houses.jpg')">
            </div>
        </div>
        <!-- / Banner Slide 2 -->
        <!-- Banner Slide 3 -->
        <div class="row bannerSlides">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="article-images-title text-center article-dark-grey-text">Slide 3</h1>
                    <div class="px-yellow-hr hr"></div>
                    <p class="section-text text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Maecenas lectus neque, porttitor id hendrerit eget, dign
                        issim ac orci. Mauris quam tellus, gravida nec quam a, luctus auctor orci. Maecenas lectus
                        neque, porttitor id hendrerit
                        eget, dignissim ac Maecenas lectus neque.</p>
                    <a href="" class="px-yellow-btn large-px-btn px-btn">See More Info</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/white-mask.png'), url('/images/banners/half/row-of-detached-houses.jpg')">
            </div>
        </div>
        <!-- / Banner Slide 3 -->
        <!-- Banner Carousel controls -->
        <div class="row controls-row">
            <div class="col-12 col-sm-5 controls-column ">
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <div class="dot-container">
                    <span class="bannerDot" onclick="currentSlide(1)"></span>
                    <span class="bannerDot" onclick="currentSlide(2)"></span>
                    <span class="bannerDot" onclick="currentSlide(3)"></span>
                </div>
                <a class="next" onclick="plusSlides(1)">❯</a>
            </div>

        </div>
        <!-- / Banner Carousel controls -->
    </div>
</section>
<!-- / Carousel banner with mask - WIP -->

</body>
</html>