<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <!-- Scripts -->
    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Exchange Work Steps -->
<section class="exchange-work-steps container">
    <!-- Intro Text -->
    <div class="row intro-row">
        <div class="col-12 text-center intro-text article-dark-grey-text">
            <p>
                Offering Part Exchange to your buyers using The PX Partnerships scheme is easy. We don’t charge any fees
                to take a property in part exchange and
                we don’t tie you in to any agreements – our no obligation schemes are simple, straightforward and
                designed to help you sell more new homes.
            </p>

            <p>
                Our income is derived from the difference between how much we pay for a property and what it sells for.
                The risk is entirely ours. Therefore it
                doesn’t cost you anything to use our scheme other than what you choose to put into the deal to achieve a
                sale.
            </p>
        </div>
    </div>

    <!-- Row -->
    <div class="row">
        <!-- Step 1 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column white-bg-step">
            <div class="step-box">
                <div class="step">Step</div>
                <div class="number">1</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    Complete your <a class="mustard-text mustard-text-hover" href="#">Part Exchange Application</a> form
                    with details of your buyer's property
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/1-image.jpg"/>
            </div>
        </div>
        <!-- / Step 1 -- Half Width Step -->

        <!-- Step 2 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column green-bg-step">
            <div class="step-box step-box--right">
                <div class="step white-text">Step</div>
                <div class="number white-text">2</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    The PX Partnership arrange <a class="mustard-text mustard-text-hover" href="#">valuations</a> of the
                    part exchange property
                    from <a class="mustard-text mustard-text-hover" href="#">local estate agents</a>
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/2-image.jpg"/>
            </div>
        </div>
        <!-- / Step 2 -- Half Width Step -->
    </div>
    <!-- / Row -->

    <!--  Arrow Down -->
    <div class="arrow-down-container d-none d-lg-flex">
        <img class="step-image" src="/images/box-images/steps-arrow-down.jpg"/>
    </div>
    <!-- / Arrow Down -->

    <!-- Row -->
    <div class="row">
        <!-- Step 3 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column xs-white-lg-green-bg-step">
            <div class="step-box">
                <div class="step">Step</div>
                <div class="number">3</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    When the valuations are received, we assess the information including comparable evidence, and <a
                        class="mustard-text mustard-text-hover" href="#">local market conditions</a>.
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/3-image.jpg"/>
            </div>
        </div>
        <!-- / Step 3 -- Half Width Step -->

        <!-- Step 4 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column xs-green-lg-white-bg-step">
            <div class="step-box step-box--right">
                <div class="step">Step</div>
                <div class="number">4</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    An <a class="mustard-text mustard-text-hover" href="#">offer</a> is made to you, subject to <a
                        class="mustard-text mustard-text-hover" href="#">survey</a> and <a
                        class="mustard-text mustard-text-hover" href="#">contract</a>
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/4-image.jpg"/>
            </div>
        </div>
        <!-- / Step 4 -- Half Width Step -->
    </div>
    <!-- / Row -->

    <!--  Arrow Down -->
    <div class="arrow-down-container d-none d-lg-flex">
        <img class="step-image" src="/images/box-images/steps-arrow-down.jpg"/>
    </div>
    <!-- / Arrow Down -->

    <!-- Row -->
    <div class="row full-width-row">
        <!-- Step 5 -- Half Width Step -->
        <div class="col-12 steps-column white-bg-step">
            <div class="step-box">
                <div class="step">Step</div>
                <div class="number">5</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    You present the offer to your <a class="mustard-text mustard-text-hover" href="#">buyer</a> - this
                    enables you to retain the <a class="mustard-text mustard-text-hover" href="#">continuity</a> and <a
                        class="mustard-text mustard-text-hover" href="#">relationship</a> with your client and it gives
                    you the opporunity to put together a <a class="mustard-text mustard-text-hover" href="#">bespoke
                    package</a> to suit your buyer's individual needs that enables them to <a
                        class="mustard-text mustard-text-hover" href="#">purchase your new home.</a>.
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/5-image.jpg"/>
            </div>
        </div>
        <!-- / Step 5 -- Half Width Step -->
    </div>
    <!-- / Row -->

    <!--  Arrow Down -->
    <div class="arrow-down-container d-none d-lg-flex">
        <img class="step-image" src="/images/box-images/steps-arrow-down.jpg"/>
    </div>
    <!-- / Arrow Down -->

    <!-- Row -->
    <div class="row">
        <!-- Step 6 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column xs-green-lg-white-bg-step">
            <div class="step-box">
                <div class="step">Step</div>
                <div class="number">6</div>
            </div>
            <div class="step-description">
                <div class="step-text">
                    If the offer is accepted The PX Partnership instructs a <a class="mustard-text mustard-text-hover"
                                                                               href="#">RICS survey </a> on the property
                    in order to confirm the offer. (If the offer is declined, the file is closed)
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/6-image.jpg"/>
            </div>
        </div>
        <!-- / Step 6 -- Half Width Step -->

        <!-- Step 7 -- Half Width Step -->
        <div class="col-12 col-lg-6 steps-column xs-white-lg-green-bg-step">
            <div class="step-box">
                <div class="step white-text">Step</div>
                <div class="number white-text">7</div>
            </div>
            <div class="step-description">
                <div class="step-text step-box--right">
                    Once this is done, solicitors are instructed and we <a class="mustard-text mustard-text-hover"
                                                                           href="#">proceed to exchange</a> and
                    <a class="mustard-text mustard-text-hover" href="#">completion</a> in line with timescale you agree
                    with your buyer.
                </div>
                <img class="step-image d-none d-sm-block" src="/images/box-images/7-image.jpg"/>
            </div>
        </div>
        <!-- / Step 7 -- Half Width Step -->
    </div>
    <!-- / Row -->


</section>
<!-- Exchange Work Steps -->

</body>
</html>