<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="#">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <a href="#">Part Exchange</a>
            <span>&nbsp;>&nbsp;</span>
            <span class="active">New Homes Agents</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">About the PX Partnership</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Formed in 1984, The PX Partnership began life is ARC Relocation
                        helping thousands of employees of corporate companies and goverment departments move home.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/grey-mask.png'), url('/images/banners/half/Financial-advisor-shaking-hands-with-senior-man-in-living-room.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->


<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <span>Blog/Latest News</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">Latest News</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec volutpat turpis. Fusce
                        faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet efficitur dolor commodo
                        vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/light-grey-mask.png'), url('/images/banners/half/cropped-image-of-prosperous-man-holding-smartphone-using-application-to-booking-suite-in-luxury-hotel-for-business-trip-using-wireless-connection-to-internet-resting-in-cafe-interior.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <span>Blog/Latest News</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">Chain Breaking</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/dark-grey-mask.png'), url('/images/banners/half/child-resting-on-a-modern-beige-chair-against-a-green-pilow.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Half banner with mask and two columns paragraph -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <span>Contact Us</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer banner-list-container order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner banner-list-container">
                    <h1 class="banner-heading text-center">Contact Us</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <ul class="banner-list">
                        <li>University House</li>
                        <li>Oxford Square, Oxford Street</li>
                        <li>Newbury, Berkshire</li>
                        <li>RG14 1JQ</li>
                        <li>T: 01635 37844</li>
                        <li>F: 01635 517592</li>
                        <li>E: info@px-partnership.co.uk</li>
                        <li>&nbsp;</li>
                    </ul>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/light-grey-mask.png'), url('/images/banners/half/couple-buying-new-house.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask and two columns paragraph -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <span>Blog/Latest News</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">Frequently Asked Questions</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">There are many benefits of using The PX Partnerships Part
                        Exchange Scheme, whether you currently offer your own scheme or not...</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/light-grey-mask.png'), url('/images/banners/half/portrait-of-young-couple-moving-in-new-home.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="#">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <a href="#">Part Exchange</a>
            <span>&nbsp;>&nbsp;</span>
            <span class="active">Key Benefits of PX</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">KEY BENEFITS OF
                        PART EXCHANGE</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/dark-grey-mask.png'), url('/images/banners/half/couple-carrying-sofa-into-new-home-on-moving-day.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="#">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <a href="#">Part Exchange</a>
            <span>&nbsp;>&nbsp;</span>
            <span href="#" class="active">Online Part exchange system</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">ONLINE PART EXCHANGE SYSTEM</h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/dark-grey-mask.png'), url('/images/banners/half/graphic-overlay-background-on-laptop-on-a-wood-table-with-coffee-and-fruits.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->

<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <div class="top breadcrumbs">
                <a href="#">Home Page</a>
                <span>&nbsp;>&nbsp;</span>
                <a href="#">Part Exchange</a>
                <span>&nbsp;>&nbsp;</span>
                <span class="active">How It works</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">HOW PART
                        EXCHANGE WORKS
                    </h1>

                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/dark-grey-mask.png'), url('/images/banners/half/love-couple-drinking-coffee-at-home.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->



<!-- Half banner with mask -->
<section class="half-banner-mask white-text">
    <div class="container breadcrumbs-container d-none d-lg-block">
        <div class="top breadcrumbs">
            <a href="#">Home Page</a>
            <span>&nbsp;>&nbsp;</span>
            <span class="active">Part Exchange</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-sm-5 my-auto banner-text-container banner-text-container--outer order-2 order-sm-1">
                <div class="banner-text-container banner-text-container--inner">
                    <h1 class="banner-heading text-center">We can help you sell more homes</h1>
                    <div class="mustard-hr d-block d-sm-none"></div>
                    <p class="banner-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                        nec volutpat turpis. Fusce faucibus eget augue a gravida. Sed sollicitudin bibendum sem, aliquet
                        efficitur dolor commodo vel.</p>
                    <a href="" class="mustard-btn large-px-btn px-btn d-inline d-sm-none">Learn More</a>
                </div>
            </div>
            <div class="col-sm-7 image order-1 order-sm-2"
                 style="background-image: url('/images/masks/mid-grey-mask.png'), url('/images/pictures/new-english-street-view.jpg')">

            </div>
        </div>
    </div>
</section>
<!-- / Half banner with mask -->


</body>
</html>