<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/pple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">


    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>


<!-- Horizontal box dark-blue-grey -->
<section class="horizontal-box container dark-blue-grey-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img class="horiz-box-image"
                 src="/images/box-images/Happy-middle-aged-married-couple-relaxing together-at-home-with-the-wife-lying-back-against-her-husband.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                7 Steps to Exchange
            </h2>

            <div class="horiz-card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                id hendrerit Maecenas lectus neque, porttitor id hendrerit
            </div>
            <a class="white-btn small-px-btn px-btn" href="/Templates/part-exchange-7-steps.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

<!-- Horizontal box green -->
<section class="horizontal-box container px-yellow-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img class="horiz-box-image" src="/images/box-images/px-iso-mockup-1.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                SALES PROMOTION & MARKETING MATERIAL
            </h2>

            <div class="horiz-card-text">
                We can supply a full range of promotional and marketing materials to help attract more visitors to your site.
            </div>
            <a class="white-btn small-px-btn px-btn" href="/Templates/sales-promotion-and-marketing.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

<!-- Horizontal box dark-blue-grey -->
<section class="horizontal-box container dark-blue-grey-bg white-text">
    <div class="row">
        <div class="d-none d-sm-inline-block col-12 col-sm-6 col-lg-3 horiz-img-container my-auto">
            <img class="horiz-box-image"
                 src="/images/box-images/houses.jpg"/>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 text-center my-auto horiz-card">
            <h2 class="horiz-card-heading">
                About Part Exchange
            </h2>

            <div class="horiz-card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus neque, porttitor
                id hendrerit Maecenas lectus neque, porttitor id hendrerit
            </div>
            <a class="white-btn small-px-btn px-btn" href="/Templates/about-px-partnership.html">See more info</a>
        </div>
    </div>
</section>
<!-- / Horizontal box -->

</body>
</html>