<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- Key Benefits Gallery -->
<section class="key-benefits-container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center article-dark-grey-text lead-paragraph">
                <p>There are many benefits of using The PX Partnerships Part Exchange Scheme, whether you currently
                    offer your own scheme or not.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row key-benefits-row">
            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">GUARANTEED SALES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No risk of a sale falling through helps you meet targets and accurately forecast sales.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">QUICK COMPLETIONS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No risk of a sale falling through helps you meet targets and accurately forecast sales.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO RISK</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>As we buy the Part Exchange Property, you avoid all risk and costs involved with buying, owning
                        and selling your buyers home.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO FEES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We do not charge any fees to take a property in Part Exchange, We make our money simply from the
                        difference between how much we pay for a property and what it sells for.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->


            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO FUNDING REQUIRED</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We purchase your buyers property directly meaning you don’t tie up your own funds in Part
                        Exchange stock.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO COST OR OBLIGATION</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>There is no cost to you or your buyer to receive a part exchange offer, and no obligation to
                        accept any offer we make.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

            <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO PRICE DIFERENTIAL</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We can buy in properties whether they have a higher, lower or similar value to the one you are selling.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">FLEXIBLE CRITERIA</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>We can consider most types of residential property throughout England and Wales including flats, bungalows and ex-local authority properties.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

             <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">SPEED UP SALES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>No need to wait for a dependant buyer to sell their property, we can make them an offer quickly to give you a proceedable buyer straight away.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">FIXED OFFER PRICE</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>Once the survey has been carried out the price is fixed, therefore avoiding last minute renegotiations.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

              <!-- Green Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--green">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">ATTRACT MORE BUYERS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>Advertising 'Part Exchange Available' will bring more buyers to your sites and enable you to compete with other developers who offer their own scheme or give you the advantage over local competitors who do not offer Part Exchange.</p>
                </div>
            </div>
            <!-- / Green Key Benefits Box -->

            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO CHAINS</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>There is no cost to you or your buyer to receive a part exchange offer, and no obligation to accept any offer we make.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->

           
            
            <!-- Blue Key Benefits Box -->
            <div class="col-12 col-md-6 col-xl-4 key-benefits-col key-benefits-col--blue">
                <!-- Left image -->
                <img class="d-none d-xl-block left-image" src="/images/box-images/chart.jpg" alt="chart image" />
                <!-- /Left image -->
                    
                <!-- Right image -->
                <img class="d-none d-xl-block right-image" src="/images/box-images/money.jpg" alt="money" />
                <!-- /Right image -->
                <div class="first-row text-center">
                    <h2 class="marketing-gallery-title article-dark-grey-text">NO ESTATE AGENTS FEES</h2>
                </div>
                <div class="second-row text-center article-dark-grey-text">
                    <p>As we buy direct from your buyer there are usually no Estate Agents fees to pay, saving your buyer money and adding value to the Part Exchange deal.</p>
                </div>
            </div>
            <!-- / Blue Key Benefits Box -->
        </div>
        
    </div>
</section>
<!-- / Key Benefits Gallery -->

</body>
</html>