<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- QA Box -->
<section class="qa-box-container">
    <div class="container-fluid">
        <div class="row qa-row">
            <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Will you look at properties anywhere in the country</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">We can consider properties anywhere in England and Wales</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
            <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">What types of property will you consider?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">We can consider most types of residential properties so long as they are mortgageable, saleable and have a ready demand.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
             <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">How much do you pay for properties?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">Every case is individual and we pay the best price possible based upon the nature and saleability of each property.</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
            <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">What does it cost to use your Part Exchange Scheme?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">It doesn’t cost you anything to use our scheme. We don’t charge any fees to make an offer or take a property in part exchange..</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
            <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Can I still offer Part Exchange if the new home is not ready yet?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">Yes, however we need to complete the purchase of the part exchange property within 3 months of confirming our offer.</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
             <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Do I need to provide you with a minimum number of properties to use your scheme?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">No, you are free to use our scheme as and when you need to.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
             <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Do you offer a Chain Breaking service as well as Part Exchange</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">Yes we do. Sometimes if an agreement cannot be reached on your buyer’s property we can consider buying-in a property further down the chain.</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
            <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Do you consider properties of any value?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">We have no minimum price restriction and will consider properties valued up to £500,000.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
            <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">How quickly can you buy properties?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">Timescales usually coincide with completion of the new home or the date you agree with your buyer, however we can complete a purchase within 48 hours if required.</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
            <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Does the property I'm selling have to be worth more than my buyer’s home?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">No. we can consider properties of a higher, lower or similar value to the one they are buying.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
            <!-- Green box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--green">
                    <div class="qa-box-row first-row light-green-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Does my buyer still have to pay Estate Agents fees if they Part Exchange?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">No. We pay the estate agents fees when they sell the property on for us.</div>
                    </div>
                </div>
            </div>
            <!-- / Green box -->
             <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">Do you need an Energy Performance Certificate?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">No. If the home is not on the market, we do not require the seller to provide an EPC.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
            <!-- Grey box -->
            <div class="col-12 col-md-6 col-xl-4 qa-col">
                <div class="qa-box qa-box--grey">
                    <div class="qa-box-row first-row mid-grey-bg">
                        <img class="qa-icon icon-question" src="/images/icons/icon-question.png">
                        <h4 class="qa-title article-dark-grey-text">What do you do with the properties you buy-in?</h4>
                    </div>
                    <div class="qa-box-row second-row">
                        <img class="qa-icon icon-answer" src="/images/icons/icon-answer.png">
                        <div class="qa-answer article-dark-grey-text">No. If the home is not on the market, we do not require the seller to provide an EPC.</div>
                    </div>
                </div>
            </div>
            <!-- / Grey box -->
        </div>
    </div>
</section>
<!-- / QA Box -->

</body>
</html>