<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/Styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">

    <script src="/Scripts/vendor/jquery.js"></script>
    <script src="/Scripts/vendor/popper.js"></script>
    <script src="/Scripts/vendor/bootstrap.js"></script>
    <script src="/Scripts/custom.js"></script>

</head>
<body>

<!-- Steps Gallery -->
<section class="steps-gallery-container">
    <div class="container-fluid">
        <div class="row text-center article-dark-grey-text introductory-row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row step-gallery-row">
            
            <!-- Step 1 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-1.png" class="step-icon" alt="Step 1 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Initial Login Screen</h2>
                </div>
                <img src="/images/pictures/step1.jpg" class="step-image" alt="Step 1 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 1 -->

            <!-- Step 2 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-2.png" class="step-icon" alt="Step 2 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step2.jpg" class="step-image" alt="Step 2 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 2 -->

            <!-- Step 3 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-3.png" class="step-icon" alt="Step 3 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step3.jpg" class="step-image" alt="Step 3 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 3 -->

            <!-- Step 4 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-4.png" class="step-icon" alt="Step 4 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step4.jpg" class="step-image" alt="Step 4 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 4 -->

             <!-- Step 5 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-5.png" class="step-icon" alt="Step 5 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step5.jpg" class="step-image" alt="Step 5 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 5 -->

            <!-- Step 6 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-6.png" class="step-icon" alt="Step 6 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step6.jpg" class="step-image" alt="Step 6 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 6 -->

             <!-- Step 7 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-7.png" class="step-icon" alt="Step 7 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step7.jpg" class="step-image" alt="Step 7 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 7 -->

            <!-- Step 8 -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="step-title-row">
                   <img src="/images/icons/icon-8.png" class="step-icon" alt="Step 8 icon" />
                    <h2 class="step-title section-text mid-blue-grey-text">Lorem Impsum Screen</h2>
                </div>
                <img src="/images/pictures/step8.jpg" class="step-image" alt="Step 8 image" />
                <p class="step-image-caption text-center article-dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor.</p>
            </div>
            <!-- / Step 8 -->

            <!-- Empty slot for image -->
            <div class="col-12 col-sm-6 col-xl-4 d-none d-xl-block">
                <img src="/images/pictures/row-of-new-terraced-houses.jpg" class="empty-slot-image" alt="Step 8 image" />
            </div>
            <!-- / Empty slot for image -->
        </div>
    </div>
</section>
<!-- / Steps Gallery -->

</body>
</html>